version: '3'
services:
  p2p:
    image: pychain
    ports:
      - 7667
    environment:
      - BASEDBPATH=/tmp/
      - SERVICENAME=pychain_p2p
      - NUMNODES=3
      - PYTHONUNBUFFERED=1
    networks:
      - web
networks:
  web:
    driver: bridge
